workflows/privacy-policy-analyzer.json
{
  "name": "privacy-policy-analyzer-v1-clean",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "a48c0257-7fc6-4ee7-9dda-45ae559e0b37",
      "name": "🔗 Trigger — Manual"
    },
    {
      "parameters": {
        "url": "https://example.com/privacy-policy",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        96
      ],
      "id": "8ef5b1f0-ddaa-4bd4-aef1-08240d45848c",
      "name": "📥 Fetch Privacy Policy"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\n\n// Strip all HTML tags\nlet text = html.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '');\ntext = text.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '');\ntext = text.replace(/<[^>]+>/g, ' ');\n\n// Clean up whitespace\ntext = text.replace(/\\s+/g, ' ').trim();\n\n// Trim to ~12,000 chars to fit in AI context window\ntext = text.substring(0, 12000);\n\nreturn [{ json: { cleanText: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ],
      "id": "b6e25d40-d74a-49a9-b2be-2418aa0cc7fa",
      "name": "🧹 Strip HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a privacy risk analyst. Analyze the following privacy policy and score it across 6 dimensions. Return ONLY valid JSON, no other text.\\n\\nSCORING RUBRIC (1-5):\\n1 = Missing or absent\\n2 = Vague or inadequate  \\n3 = Partial - present but incomplete\\n4 = Good - mostly complete\\n5 = Strong - comprehensive and specific\\n\\nDIMENSIONS TO SCORE:\\nD1 - Data Minimization: Are data categories specific? Are retention windows defined?\\nD2 - Sub-Processor Transparency: Is a named sub-processor list published? Is there a change notification mechanism?\\nD3 - Data Subject Rights: Are DSAR/deletion/portability mechanisms described with timelines?\\nD4 - Transfer Mechanisms: Are cross-border transfer mechanisms named (SCCs, BCRs, adequacy)?\\nD5 - Breach Notification: Is there a customer-specific notification SLA in hours/days?\\nD7 - Retention & Deletion: Are specific deletion timelines defined? What happens at contract termination?\\n\\nALSO DETECT:\\n- is_ai_vendor: true if the vendor uses AI/ML in their product or mentions model training\\n- ai_training_risk: true if customer data may be used to train models\\n\\nRETURN THIS EXACT JSON STRUCTURE:\\n{\\n  \\\"vendor\\\": \\\"[extract vendor name from document]\\\",\\n  \\\"assessment_date\\\": \\\"2026-03-10\\\",\\n  \\\"scores\\\": {\\n    \\\"D1_data_minimization\\\": {\\\"score\\\": 0, \\\"rationale\\\": \\\"\\\", \\\"red_flags\\\": []},\\n    \\\"D2_sub_processor\\\": {\\\"score\\\": 0, \\\"rationale\\\": \\\"\\\", \\\"red_flags\\\": []},\\n    \\\"D3_subject_rights\\\": {\\\"score\\\": 0, \\\"rationale\\\": \\\"\\\", \\\"red_flags\\\": []},\\n    \\\"D4_transfer_mechanisms\\\": {\\\"score\\\": 0, \\\"rationale\\\": \\\"\\\", \\\"red_flags\\\": []},\\n    \\\"D5_breach_notification\\\": {\\\"score\\\": 0, \\\"rationale\\\": \\\"\\\", \\\"red_flags\\\": []},\\n    \\\"D7_retention_deletion\\\": {\\\"score\\\": 0, \\\"rationale\\\": \\\"\\\", \\\"red_flags\\\": []}\\n  },\\n  \\\"weighted_average\\\": 0.0,\\n  \\\"risk_tier\\\": \\\"HIGH|MEDIUM|LOW\\\",\\n  \\\"is_ai_vendor\\\": false,\\n  \\\"ai_training_risk\\\": false,\\n  \\\"top_3_findings\\\": []\\n}\\n\\nPRIVACY POLICY TEXT:\\n{{ $json.cleanText }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        96
      ],
      "id": "519c6e43-11cc-46b8-b180-bf0aeb0e0724",
      "name": "🧠 AI Provider — Score Privacy Policy"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst rawText = response.content[0].text;\nconst cleaned = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst assessment = JSON.parse(cleaned);\nreturn [{ json: assessment }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        96
      ],
      "id": "1372334f-feec-4cdf-ad82-3806ef095aa7",
      "name": "📊 Parse Assessment JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e4d4ca7-9f96-4db1-b193-4c90a20abda3",
              "name": "risk_summary",
              "value": "={{$json.vendor}} | {{$json.risk_tier}} | Avg: {{$json.weighted_average}} | AI Vendor: {{$json.is_ai_vendor}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        192
      ],
      "id": "83d6f75a-6305-446f-a4b1-6e3407407314",
      "name": "📋 Format Risk Summary"
    },
    {
      "parameters": {
        "content": "THE PRIVACY LENS — Phase 1\nPrivacy Policy Analyzer\n\nFetches a vendor privacy policy URL,\nstrips HTML to clean text, sends to\nyour configured AI provider for\n8-dimension scoring, parses JSON\noutput, and formats the risk summary.\n\n⚙️ To switch AI providers:\nEdit the \"AI Provider\" node — swap\nURL, headers, and model field.\nSee: integrations/n8n-setup.md\n\nOutput: vendor, risk_tier,\nweighted_average, is_ai_vendor,\ntop_3_findings",
        "height": 336,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -272
      ],
      "id": "77934350-8586-4e66-83d8-ecff0bd7ca7c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "VENDOR_NAME",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1YOYAT1DxmLjFRfoN3irpm3xGbafVZv7_",
            "mode": "list",
            "cachedResultName": "Privacy Reviews",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1YOYAT1DxmLjFRfoN3irpm3xGbafVZv7_"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        192
      ],
      "id": "4d29cf11-90eb-45d3-823d-e7500d0e5bb2",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc3b9bc4-2b63-4f49-8ada-690a67dba9d7",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        192
      ],
      "id": "910c3aa1-20a9-4522-b58b-bc96274f5710",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "=Vendor folder not found in Privacy Reviews. Please create a folder named exactly \"{{$('📂 Find Vendor Folder').params.searchQuery}}\" in Google Drive before running this workflow."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        288
      ],
      "id": "fee65137-371d-44f5-9489-ee5216eded88",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node — Generate 8-bit HTML Privacy Assessment Report\n// Place this in a Code node after \"Parse Assessment JSON\"\n// Node name: 🎮 Generate HTML Report\n\nconst data = $('📊 Parse Assessment JSON').first().json;\n\nconst riskColor = {\n  'HIGH': '#ff4444',\n  'MEDIUM': '#ffaa00', \n  'LOW': '#00ff88'\n};\n\nconst riskBg = {\n  'HIGH': '#2a0000',\n  'MEDIUM': '#2a1a00',\n  'LOW': '#002a1a'\n};\n\nconst scoreBar = (score) => {\n  const filled = score;\n  const empty = 5 - score;\n  return '█'.repeat(filled) + '░'.repeat(empty);\n};\n\nconst scoreColor = (score) => {\n  if (score <= 1) return '#ff4444';\n  if (score <= 2) return '#ff8800';\n  if (score <= 3) return '#ffdd00';\n  return '#00ff88';\n};\n\nconst dimensionLabels = {\n  D1_data_minimization: 'D1 · DATA MINIMIZATION',\n  D2_sub_processor: 'D2 · SUB-PROCESSORS',\n  D3_subject_rights: 'D3 · SUBJECT RIGHTS',\n  D4_transfer_mechanisms: 'D4 · TRANSFER MECHANISMS',\n  D5_breach_notification: 'D5 · BREACH NOTIFICATION',\n  D6_ai_ml_usage: 'D6 · AI/ML DATA USAGE ★',\n  D7_retention_deletion: 'D7 · RETENTION & DELETION',\n  D8_dpa_completeness: 'D8 · DPA COMPLETENESS ★'\n};\n\nconst scoresHTML = Object.entries(data.scores || {}).map(([key, val]) => {\n  const label = dimensionLabels[key] || key;\n  const score = val.score;\n  const rationale = val.rationale || '';\n  const redFlags = (val.red_flags || []).map(f => `<li>⚠ ${f}</li>`).join('');\n  \n  return `\n    <div class=\"dimension-card\" style=\"border-color: ${scoreColor(score)}\">\n      <div class=\"dim-header\">\n        <span class=\"dim-label\">${label}</span>\n        <span class=\"dim-score\" style=\"color: ${scoreColor(score)}\">${scoreBar(score)} ${score}/5</span>\n      </div>\n      <div class=\"dim-rationale\">${rationale}</div>\n      ${redFlags ? `<ul class=\"red-flags\">${redFlags}</ul>` : ''}\n    </div>\n  `;\n}).join('');\n\nconst top3HTML = (data.top_3_findings || []).map((f, i) => \n  `<div class=\"finding\">▶ ${f}</div>`\n).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Privacy Assessment — ${data.vendor}</title>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');\n\n  :root {\n    --bg: #0a0a0f;\n    --panel: #12121a;\n    --border: #2a2a3a;\n    --text: #c8c8e8;\n    --dim: #6060a0;\n    --accent: #7700ff;\n    --risk: ${riskColor[data.risk_tier] || '#ffaa00'};\n    --risk-bg: ${riskBg[data.risk_tier] || '#2a1a00'};\n  }\n\n  * { box-sizing: border-box; margin: 0; padding: 0; }\n\n  body {\n    background: var(--bg);\n    color: var(--text);\n    font-family: 'Share Tech Mono', monospace;\n    font-size: 13px;\n    line-height: 1.6;\n    padding: 32px 24px;\n    max-width: 900px;\n    margin: 0 auto;\n  }\n\n  /* Scanline overlay */\n  body::before {\n    content: '';\n    position: fixed;\n    top: 0; left: 0; right: 0; bottom: 0;\n    background: repeating-linear-gradient(\n      0deg,\n      transparent,\n      transparent 2px,\n      rgba(0,0,0,0.15) 2px,\n      rgba(0,0,0,0.15) 4px\n    );\n    pointer-events: none;\n    z-index: 999;\n  }\n\n  .header {\n    text-align: center;\n    border: 3px solid var(--accent);\n    padding: 24px;\n    margin-bottom: 32px;\n    position: relative;\n    background: #0d0d18;\n    image-rendering: pixelated;\n  }\n\n  .header::before {\n    content: '◄ THE PRIVACY LENS ►';\n    display: block;\n    font-family: 'Press Start 2P', monospace;\n    font-size: 9px;\n    color: var(--accent);\n    margin-bottom: 16px;\n    letter-spacing: 2px;\n  }\n\n  .vendor-name {\n    font-family: 'Press Start 2P', monospace;\n    font-size: 18px;\n    color: #ffffff;\n    margin-bottom: 8px;\n    text-shadow: 0 0 20px var(--accent);\n  }\n\n  .assessment-date {\n    color: var(--dim);\n    font-size: 11px;\n  }\n\n  .risk-banner {\n    background: var(--risk-bg);\n    border: 3px solid var(--risk);\n    padding: 20px 24px;\n    margin-bottom: 24px;\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    animation: pulse 2s infinite;\n  }\n\n  @keyframes pulse {\n    0%, 100% { box-shadow: 0 0 8px var(--risk); }\n    50% { box-shadow: 0 0 24px var(--risk); }\n  }\n\n  .risk-label {\n    font-family: 'Press Start 2P', monospace;\n    font-size: 10px;\n    color: var(--dim);\n  }\n\n  .risk-tier {\n    font-family: 'Press Start 2P', monospace;\n    font-size: 22px;\n    color: var(--risk);\n    text-shadow: 0 0 16px var(--risk);\n  }\n\n  .risk-score {\n    font-family: 'Press Start 2P', monospace;\n    font-size: 14px;\n    color: var(--risk);\n    text-align: right;\n  }\n\n  .badges {\n    display: flex;\n    gap: 12px;\n    margin-bottom: 24px;\n    flex-wrap: wrap;\n  }\n\n  .badge {\n    border: 2px solid;\n    padding: 6px 12px;\n    font-size: 11px;\n    font-family: 'Press Start 2P', monospace;\n    font-size: 8px;\n  }\n\n  .badge.ai { border-color: #ff00ff; color: #ff00ff; background: #1a001a; }\n  .badge.no-ai { border-color: #404060; color: #404060; background: #0d0d18; }\n  .badge.ai-risk { border-color: #ff4444; color: #ff4444; background: #1a0000; }\n\n  .section {\n    border: 2px solid var(--border);\n    margin-bottom: 20px;\n    background: var(--panel);\n  }\n\n  .section-header {\n    background: var(--border);\n    padding: 10px 16px;\n    font-family: 'Press Start 2P', monospace;\n    font-size: 9px;\n    color: var(--accent);\n    letter-spacing: 1px;\n  }\n\n  .section-body {\n    padding: 16px;\n  }\n\n  .finding {\n    padding: 8px 0;\n    border-bottom: 1px solid var(--border);\n    color: #ffcc00;\n    font-size: 12px;\n  }\n\n  .finding:last-child { border-bottom: none; }\n\n  .dimension-card {\n    border: 2px solid;\n    margin-bottom: 12px;\n    background: #0d0d18;\n    padding: 14px 16px;\n  }\n\n  .dim-header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 8px;\n    flex-wrap: wrap;\n    gap: 8px;\n  }\n\n  .dim-label {\n    font-family: 'Press Start 2P', monospace;\n    font-size: 8px;\n    color: #aaaacc;\n  }\n\n  .dim-score {\n    font-family: 'Press Start 2P', monospace;\n    font-size: 9px;\n    white-space: nowrap;\n  }\n\n  .dim-rationale {\n    color: #8888aa;\n    font-size: 12px;\n    margin-bottom: 8px;\n  }\n\n  .red-flags {\n    list-style: none;\n    padding: 0;\n  }\n\n  .red-flags li {\n    color: #ff6644;\n    font-size: 11px;\n    padding: 2px 0;\n  }\n\n  .footer {\n    text-align: center;\n    margin-top: 32px;\n    color: var(--dim);\n    font-size: 10px;\n    border-top: 2px solid var(--border);\n    padding-top: 16px;\n    font-family: 'Press Start 2P', monospace;\n    font-size: 7px;\n    line-height: 2;\n  }\n\n  .pixel-divider {\n    text-align: center;\n    color: var(--accent);\n    margin: 8px 0;\n    font-size: 10px;\n    letter-spacing: 4px;\n  }\n</style>\n</head>\n<body>\n\n<div class=\"header\">\n  <div class=\"vendor-name\">${data.vendor || 'UNKNOWN VENDOR'}</div>\n  <div class=\"assessment-date\">ASSESSMENT DATE: ${data.assessment_date || 'N/A'}</div>\n</div>\n\n<div class=\"risk-banner\">\n  <div>\n    <div class=\"risk-label\">RISK TIER</div>\n    <div class=\"risk-tier\">${data.risk_tier || 'UNKNOWN'}</div>\n  </div>\n  <div style=\"text-align:right\">\n    <div class=\"risk-label\">WEIGHTED AVG</div>\n    <div class=\"risk-score\">${data.weighted_average || 'N/A'} / 5</div>\n  </div>\n</div>\n\n<div class=\"badges\">\n  ${data.is_ai_vendor \n    ? '<div class=\"badge ai\">⚡ AI VENDOR DETECTED</div>' \n    : '<div class=\"badge no-ai\">○ NOT AI VENDOR</div>'}\n  ${data.ai_training_risk \n    ? '<div class=\"badge ai-risk\">⚠ AI TRAINING RISK</div>' \n    : ''}\n</div>\n\n<div class=\"section\">\n  <div class=\"section-header\">▶ TOP FINDINGS</div>\n  <div class=\"section-body\">\n    ${top3HTML || '<div class=\"finding\">No findings recorded.</div>'}\n  </div>\n</div>\n\n<div class=\"section\">\n  <div class=\"section-header\">▶ DIMENSION SCORES</div>\n  <div class=\"section-body\">\n    ${scoresHTML || '<div>No scores available.</div>'}\n  </div>\n</div>\n\n<div class=\"pixel-divider\">· · · · · · · · · · · · · · · · · · · ·</div>\n\n<div class=\"footer\">\n  GENERATED BY THE PRIVACY LENS · PHASE 1<br>\n  OPEN SOURCE TPRM AUTOMATION · github.com/conorrusso/privacy-risk-analyzer<br>\n  ${new Date().toISOString()}\n</div>\n\n</body>\n</html>`;\n\nconst htmlBuffer = Buffer.from(html, 'utf8');\n\nreturn [{ \n  json: { \n    vendor: data.vendor,\n    assessment_date: data.assessment_date,\n    risk_tier: data.risk_tier\n  },\n  binary: {\n    htmlFile: {\n      data: htmlBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        96
      ],
      "id": "ff912332-0747-4605-9be4-a058a8f29bd2",
      "name": "🎮 Generate HTML Report"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        0
      ],
      "id": "f1fda5fa-630f-46fe-867e-d517991a81cf",
      "name": "🖨️ Convert to PDF"
    },
    {
      "parameters": {
        "name": "={{$('🎮 Generate HTML Report').first().json.vendor}}-privacy-assessment-{{$('🎮 Generate HTML Report').first().json.assessment_date}}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{$('Search files and folders').first().json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        0
      ],
      "id": "052c03f1-30e1-4f85-aec6-c45fd98156b2",
      "name": "🌐 Save PDF to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{JSON.stringify($('📊 Parse Assessment JSON').first().json)}}",
        "name": "={{$('📊 Parse Assessment JSON').first().json.vendor}}-privacy-assessment-{{$('📊 Parse Assessment JSON').first().json.assessment_date}}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{$('Search files and folders').first().json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2016,
        192
      ],
      "id": "3adbd8e4-9366-4c14-bba9-e02d6181a1fd",
      "name": "💾 Save JSON to Vendor Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "goGjaQCO0aHJ8wHa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "// Phase 2: this will be dynamic — looping all subfolders",
        "width": 198,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        400
      ],
      "id": "672adeb7-c8a8-401a-8f01-5e1d36cd6234",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "// Phase 2: URL will be auto-discovered via 3-tier chain",
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -96
      ],
      "id": "de32845a-c5bc-4597-9888-224ee4401a11",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "🔗 Trigger — Manual": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Fetch Privacy Policy": {
      "main": [
        [
          {
            "node": "🧹 Strip HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Strip HTML": {
      "main": [
        [
          {
            "node": "🧠 AI Provider — Score Privacy Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI Provider — Score Privacy Policy": {
      "main": [
        [
          {
            "node": "📊 Parse Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Parse Assessment JSON": {
      "main": [
        [
          {
            "node": "🎮 Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "📥 Fetch Privacy Policy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Risk Summary": {
      "main": [
        [
          {
            "node": "💾 Save JSON to Vendor Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎮 Generate HTML Report": {
      "main": [
        [
          {
            "node": "🖨️ Convert to PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Format Risk Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖨️ Convert to PDF": {
      "main": [
        [
          {
            "node": "🌐 Save PDF to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Save PDF to Drive": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "55447dd7-8d0d-4c52-92a7-c487a859860c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3be1ad59fca6da901de0e93ad1256da8e8ca2cb37ef7c63b41ba594ba540d39"
  },
  "id": "DeZYMB6SyGv6lzDX",
  "tags": []
}